body {
  min-width: 1000px;
}

#screen-1{
    height: 100vh;
    min-height: 500px;
}

#screen-2{
  height: 500px;
}

#screen-3 {
  height: 91vh;
  min-height: 500px;
}
#top-logo {
  margin-left: 4%;
}

#header-social {
  padding-left: 5%;
}

#header-1.anim {
  height: 70px;
  padding-top: 1%;
}

#screen-1 {
  background: url("overlay.png") repeat;
}

#screen-3-bcg {
  background: url("Social Background.png") repeat;
}

#header-1 {
  position:fixed;
  top:0px;
  left:0px;
    height: 90px;
    padding-top: 2%;
    width: 100%;
    z-index: 100;
    transition: all 0.5s linear;
}

#body-1 {
  padding-top:10%;
    height: 80%;
    text-align: center;
    font-family: 'Lato Regular';
    color: #fff;
}

.common-footer {
    background-color: #fff;
    height: 10%;
}

#top-logo img{
    height: 75%;
}

#header-social {
    padding-top: 1%;
}

#header-social img {
    padding: 0 5%;
    height: 40%;
}

#app-screen img{
    height: 100%;
}

#burrn-text-1 {
    margin-top: 12%;
    height: 8%;
    line-height: 8%;
    font-size: 2.5em;
}

#ninja-text-1 {
    height: 8%;
    line-height: 8%;
    font-size: 2.5em;
}

#ninja-text-1 #bb {
    padding: 7px;
    border-bottom: 2px solid #fff;
}

#burrn-help-text {
    font-family: 'Lato Light';
    font-size: 1.5em;
    padding: 0 10% 5% 10%;
}

#app-logo-1 {
    padding-left: 20%;
}

#app-logo-2 {
    padding-right: 20%;
}

#app-logo-2 img, #app-logo-1 img {
    height: 10%;
}

.bottom-logo {
    padding-top: 0.75%;
}

.bottom-logo img {
    height: 65%;
}

.bottom-social {
    padding-top: 1.8%;
}

.bottom-social img {
    padding-left: 8%;
    height: 40%;
}

#body-2{
    background: url('images/background.png');
    height: 100%;
}

#payload {
    margin-top: 10%;
    height: 39%;
    font-family: 'Lato Regular';
    text-align: left;
    padding: 0 20% 0 10%;
    border-bottom: 1px solid #d7d8d9;
    color: #d7d8d9;
    margin-bottom: 1%;
}

#payload img {
    height: 100%;
}

#nav-download {
    height: 35%;
}

#app-logo-1-1 {
    padding-left: 10%;
}

#app-logo-2-2 {
    padding-right: 10%;
}

#app-logo-1-1 img, #app-logo-2-2 img {
    height: 22%;
}

.round-button {
    padding-top: 10%;
    margin-right: 10%;
    cursor: pointer;
    width:10px;
    float:left;
}
.round-button-circle {
    width: 100%;
    height:0;
    padding-bottom: 100%;
    border-radius: 50%;
    overflow:hidden;
    background: #fbfbfb;
    box-shadow: 0 0 1px gray;
}
.round-button-circle:hover {
    background:#cecece;
}
/*.round-button a {
    display:block;
    float:left;
    width:100%;
    padding-top:50%;
    padding-bottom:50%;
    line-height:0.2em;
    margin-top:-0.1em;

    text-align:center;
    color:#e2eaf3;
    font-family:Verdana;
    font-size:0.1em;
    font-weight:bold;
    text-decoration:none;
}*/

#nav-container{
    width: 50%;
    margin: 0 auto;
}

#payload-title {
    font-size: 3em;
    color: #666;
}

#payload-text{
    font-size: 1.5em;
}

#screen-3 {
    background: url("Social Background.png") repeat;
    color: #f4f6f7;
    text-align: center;
    font-family: 'Lato Regular';
}

#show-your-love {
    height: 20%;
    line-height: 200%;
    font-size: 4em;
}

#phone {
    height: 20%;
}

#phone-number {
    height: 20%;
}

#social-buttons-bottom {
    height: 50%;
}

#social-buttons-bottom img {
    height: 45%;
}

#phone input, #phone button {
    height: 40px;
    margin: 0;
    outline: 0;
    border: 0px;
    text-align: center;
}

input#country-code {
    color: #7d7d7d;
    width: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

input#phone-number{
    color: #666;
    margin-left: -2px;
    border-left: 1px solid #dcddde;
}

#phone button {
    margin-left: -3px;
    background-color: #e84e43;
    color: #f1d4d4;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
}

#footer-last {
    text-align: left;
    height: 10%;
    background: rgba(0, 0, 0, 0.9);
    font-size: 1.2em;
}

video#bgvid {
  top: 0; left: 0;
  position: fixed;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
}
